extends layout

block content

  // Module: Users
  .users

    // Module: User
    .user
      // Module: Button
      .button
        a(href="/eivind/") Eivind

    // Module: User
    .user
      .button
        a(href="/benny/") Benny

    // Module: Game Stats
    .game-stats

      // Module: Game Stat
      .game-stat
        .game-stat--title
          p Runde 
        .game-stat--value
          p 1/5

      // Module: Game Stat
      .game-stat
        .game-stat--title
          p Pil 
        .game-stat--value
          p 1/3

  // Module: Keypad
  .keypad

    // Module: Button
    .button
      a(href="-50")
        p.button--title Baggen
        p -50

    // Module: Button
    .button
      a(href="-10")
        p.button--title Lufta rundt
        p -10

    // Module: Button
    .button
      a(href="5") 
        p.button--title Kassa
        p 5

    // Module: Button
    .button
      a(href="10") 
        p.button--title Klær + hår
        p 10

    // Module: Button
    .button
      a(href="25")
        p.button--title Tryne
        p 25

    // Module: Button
    .button
      a(href="50") 
        p.button--title Øra
        p 50

    // Module: Button
    .button
      a(href="100")
        p.button--title Øyebryn
        p 100

    // Module: Button
    .button
      a(href="150") 
        p.button--title Munn
        p 150

    // Module: Button
    .button
      a(href="200") 
        p.button--title Øya
        p 200
